@{
    ViewData["Title"] = "Payment Canceled";
}

<div class="container text-center mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body p-5">
            <i class="fas fa-times-circle fa-5x text-danger mb-4"></i>
            <h1 class="display-4">Payment Canceled</h1>
            <p class="lead">Your payment was not processed.</p>
            <hr />
            <p>You can try again or contact support if you are having trouble.</p>
            <a asp-action="Index" class="btn btn-secondary mt-3">Return to Checkout</a>
        </div>
    </div>
</div>
